* {
  box-sizing: border-box;
  scroll-margin-top: 10vh;
}

:root {
  font-size: 10px;
  font-family: "Sora", sans-serif;
}

body {
  font-size: 1.6rem;
  margin: 0;
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  z-index: 10;
}

.nav-bar {
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main {
  margin-top: 10vh;
}
.header-title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: auto 0.5em;
  text-decoration: none;
  padding: 0.5em;
  color: white;
  display: block;
  background-color: dodgerblue;
  border-radius: 0.2em;
}

.nav-bar .nav-link {
  margin: 0;
  padding: 0.9em;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  color: white;
  border-radius: 0.3rem;
  transition: transform 0.3s;
}

#section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: white;
  transition: opacity 2s, color 0.5s;
  border-bottom: 1px solid black;
}
.title-wrapper {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#section-2 {
  font-family: inherit;
  color: black;
  width: 100%;
  height: 90vh;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-2 h1 {
  font-size: 5rem;
}

#section-2 h1:hover {
  cursor: pointer;
  color: dodgerblue;
  transition: color 0.5s;
}
#section-3 h1 {
  font-size: 5rem;
  text-align: center;
}

#section-3 h1:hover {
  cursor: pointer;
  color: dodgerblue;
  transition: color 0.5s;
}
#section-3 {
  height: 90vh;
  background-color: white;
  margin-left: 1em;
}

#section-4 {
  height: 90vh;
  background-color: white;
}
.avatar-img {
  border-radius: 1em;
  transform: scale(0.9);
  box-shadow: 10px 10px 15px black;
  object-fit: contain;
}
.anchor-link {
  text-decoration: none;
  display: block;
  padding: 1em;
  background-color: dodgerblue;
  border-radius: 1em;
  color: white;
  cursor: pointer;
}
.about-description {
  width: 52rem;
  border: 2px solid grey;
  border-radius: 0.5em;
  padding: 1.6em;
  background-color: white;
  font-size: 1.4rem;
  line-height: 1.2em;
  box-shadow: 10px 10px 15px black;
}
.anchor-link:hover {
  transform: scale(1.3);
  transition: transform 0.3s;
}
.intro-title {
  font-weight: bold;
  font-size: 14rem;
}

.title-hide {
  opacity: 0;
}
.title-reveal {
  opacity: 1;
  transition: opacity 2s, color 0.5s;
}

.intro-title:hover {
  cursor: pointer;
  color: dodgerblue;
}

.nav-bar a:hover {
  background-color: dodgerblue;
}
.section2-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.applications {
  width: 100%;
}
.skills-title {
  align-self: flex-start;
}
.section3-wrapper {
  display: flex;
  width: 100%;
  gap: 3em;
}

.skills-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 10em;
}

.skills-bar p:nth-child(2) {
  display: block;
  text-align: center;
  background-color: crimson;
  width: 100%;
  padding: 1em;
  border-radius: 0.3em;
}

.skills-bar p:nth-child(3) {
  display: block;
  text-align: center;
  background-color: dodgerblue;
  color: white;
  padding: 1em;
  width: 100%;
  border-radius: 0.3em;
}

.skills-bar p:nth-child(4) {
  display: block;
  text-align: center;
  background-color: gold;
  color: black;
  padding: 1em;
  width: 100%;
  border-radius: 0.3em;
}
.skills-bar p:nth-child(5) {
  display: block;
  text-align: center;
  background-color: slateblue;
  color: white;
  padding: 1em;
  width: 100%;
  border-radius: 0.3em;
}
.applications {
  display: flex;
  flex-direction: column;
}
.secondary-project-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 20rem;
}
.main-card-container {
  position: relative;
  margin: 0.3em;
  width: 30em;
}
.main-card-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.card-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.card-container {
  position: relative;
  margin: 0.3rem;
  width: 20em;
}
.cardapp-info {
  position: absolute;
  left: 0;
  bottom: 0.2em;
  background-color: grey;
  width: 50%;
  color: white;
  padding-bottom: 2rem;
  opacity: 0.9;
}
@media screen and (max-width: 1200px) {
  .secondary-project-bar {
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .header-title {
    padding: 0.2em;
  }
}
@media screen and (max-width: 768px) {
  .intro-title {
    font-size: 10rem;
  }
  .applications h2 {
    text-align: center;
  }
  .card-container {
    width: 90%;
    margin: 0 auto;
  }

  .main-card-container {
    width: 90%;
    margin: 0 auto;
  }

  .section3-wrapper {
    flex-direction: column;
  }

  .skills-bar {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .intro-title {
    font-size: 8rem;
  }
}
