/* || Contents || */

/* || 1. General/Reset Styles|| */
/* || 2. Header and Main Navigation Styles  || */
/* || 3. Section 1 Styles || */
/* || 4. Section 2 Styles || */
/* || 5. Section 3 Styles || */
/* || 6. Section 4 Styles || */
/* || 7. Footer Styles || */
/* || 8. Media Queries || */

/* use cmd + f to navigate to relevant section, eg. typing 6.  will take you to Footer Styles */

/* || 1. General/Reset Styles|| */

* {
  box-sizing: border-box;
  scroll-margin-top: 10vh;
}

:root {
  font-size: 10px;
  font-family: "Sora", sans-serif;
}

body {
  font-size: 1.6rem;
  margin: 0;
  min-height: 100vh;
}

/* || 2. Header and Main Navigation Styles  || */

.header {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  z-index: 10;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: auto 0.5em;
  text-decoration: none;
  padding: 0.5em;
  color: white;
  display: block;
  background-color: dodgerblue;
  border-radius: 0.2em;
}

.nav-bar {
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-bar .nav-link {
  margin: 0;
  padding: 0.9em;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  color: white;
  border-radius: 0.3rem;
  transition: transform 0.3s;
}

main {
  margin-top: 10vh;
}

/* || 3. Section 1 Styles || */

#section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: white;
  transition: opacity 2s, color 0.5s;
}
.title-wrapper {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.intro-title {
  font-weight: bold;
  font-size: 14rem;
}

.intro-title:hover {
  cursor: pointer;
  color: dodgerblue;
}

.nav-bar a:hover {
  background-color: dodgerblue;
}

.title-hide {
  opacity: 0;
}

.title-reveal {
  opacity: 1;
  transition: opacity 2s, color 0.5s;
}

/* || 4. Section 2 Styles || */

#section-2 {
  font-family: inherit;
  color: black;
  width: 100%;
  height: 90vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#section-2 h1 {
  font-size: 5rem;
}

#section-2 h1:hover {
  cursor: pointer;
  color: dodgerblue;
  transition: color 0.5s;
}

.avatar-img {
  border-radius: 1em;
  transform: scale(0.9);
  box-shadow: 10px 10px 15px black;
  object-fit: contain;
}

.anchor-link {
  text-decoration: none;
  display: block;
  padding: 1em;
  background-color: dodgerblue;
  border-radius: 1em;
  color: white;
  cursor: pointer;
}

.about-description {
  width: 52rem;
  border: 2px solid grey;
  border-radius: 0.5em;
  padding: 1.6em;
  background-color: white;
  font-size: 1.4rem;
  line-height: 1.2em;
  box-shadow: 10px 10px 15px black;
}

.anchor-link:hover {
  transform: scale(1.3);
  transition: transform 0.3s;
}

/* || 5. Section 3 Styles || */

#section-3 h1 {
  font-size: 5rem;
  text-align: center;
}

#section-3 h1:hover {
  cursor: pointer;
  color: dodgerblue;
  transition: color 0.5s;
}
#section-3 {
  min-height: 90vh;
  background-color: white;
  margin-left: 1em;
}

.section3-wrapper {
  display: flex;
  width: 100%;
  gap: 3em;
}

.skills-title {
  align-self: flex-start;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 10em;
}

.applications {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.skills-container p:nth-child(1) {
  display: block;
  text-align: center;
  background-color: crimson;
  width: 100%;
  padding: 1em;
  border-radius: 0.3em;
}

.skills-container p:nth-child(2) {
  display: block;
  text-align: center;
  background-color: dodgerblue;
  color: white;
  padding: 1em;
  width: 100%;
  border-radius: 0.3em;
}

.skills-container p:nth-child(3) {
  display: block;
  text-align: center;
  background-color: gold;
  color: black;
  padding: 1em;
  width: 100%;
  border-radius: 0.3em;
}
.skills-container p:nth-child(4) {
  display: block;
  text-align: center;
  background-color: slateblue;
  color: white;
  padding: 1em;
  width: 100%;
  border-radius: 0.3em;
}
.secondary-project-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.main-card-container {
  position: relative;
  margin: 0.3em;
  width: 55%;
}
.main-card-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.card-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.card-container {
  position: relative;
  margin: 0.3rem;
  width: 30%;
}
.cardapp-info {
  position: absolute;
  left: 0;
  bottom: 0.2em;
  background-color: rgba(218, 223, 225, 0.5);
  width: 45%;
  color: white;
  padding-bottom: 2rem;
}

/* || 6. Section 4 Styles || */

#section-4 {
  height: 82vh;
  background-color: white;
}

#section-4 h2 {
  text-align: center;
  font-size: 5rem;
}
#section-4 p {
  text-align: center;
  font-size: 4rem;
}

#section-4 h2:hover {
  color: dodgerblue;
  transition: color 0.5s;
}

/* || 7. Footer Styles || */

.nav-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  height: 8vh;
}

.nav-footer {
  background-color: black;
}

.nav-footer a {
  text-decoration: none;
  color: white;
  padding: 0.3em;
  margin-right: 3em;
}

.nav-footer a:hover {
  background-color: dodgerblue;
}

/* || 8. Media Queries || */

@media screen and (max-width: 1200px) {
  .secondary-project-bar {
    flex-direction: column;
  }

  .card-container {
    width: 55%;
  }

  .applications,
  .secondary-project-bar {
    align-items: center;
  }
}
@media screen and (max-width: 992px) {
  .header-title {
    padding: 0.2em;
  }

  .card-container,
  .main-card-container {
    width: 75vw;
  }
}
@media screen and (max-width: 768px) {
  .intro-title {
    font-size: 10rem;
  }

  .section3-wrapper {
    flex-direction: column;
  }

  .main-card-container,
  .card-container,
  .skills-container {
    margin: 0 auto;
  }
  .skills-container {
    width: 50%;
  }

  .skills-title,
  .applications h2 {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .intro-title {
    font-size: 8rem;
  }
}
