* {
  box-sizing: border-box;
  scroll-margin-top: 10vh;
}

:root {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  margin: 0;
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.nav-bar {
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main {
  margin-top: 10vh;
}
.name-title {
  font-family: "Sora", sans-serif;
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: auto 0.5em;
  text-decoration: none;
  padding: 0.3em;
  color: mintcream;
  display: block;
  background-color: MediumSeaGreen;
  border: 1px solid MediumSeaGreen;
  border-radius: 0.2em;
}

.nav-bar .nav-link {
  margin: 0;
  padding: 1.2em;
  display: block;
  font-family: "Sora", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  color: seashell;
  border-radius: 0.3rem;
  transition: transform 0.3s;
}

#section-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: seashell;
  border-top: 1px solid #777;
}
.title-wrapper {
  display: flex;
  height: 75%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#section-2 {
  font-family: inherit;
  color: black;
  width: 100%;
  height: 100vh;
  background-color: seashell;
  border-top: 1px solid #777;
}

#section-2 h1 {
  font-family: "Sora", sans-serif;
  text-align: center;
  font-size: 5rem;
}

#section-3 {
  height: 100vh;
  background-color: seashell;
  border-top: 1px solid #777;
}

#section-4 {
  height: 100vh;
  background-color: seashell;
  border-top: 1px solid #777;
}

.intro-title {
  font-weight: bold;
  font-size: 15rem;
  font-family: "Sora", sans-serif;
}

.title-hide {
  opacity: 0;
}
.title-reveal {
  opacity: 1;
  transition: opacity 2s, color 0.5s;
}

.intro-title:hover {
  cursor: pointer;
  color: dodgerblue;
}

.nav-bar a:hover {
  background-color: dodgerblue;
  transform: scale(1.2);
}
